@import "tailwindcss";

:root {
  /* Light mode defaults */
  /* --background: #F1EDE7; */
  --foreground: #171717;
  --brand-green: #00985B;
  --brand-dark: #00492C;
}

/* ==================== DARK MODE ==================== */


/* ==================== THEME MAPPING ==================== */
@theme {


  --color-primary: var(--brand-green);
  --color-secondary: var(--brand-dark);

  /* Extra dark mode friendly colors */
  --color-card: var(--card);
  --color-border: var(--border);
}

/* Base body styles */
body {
  background: var(--background);
  color: var(--foreground);
}